<nav 
	id="cHeaderMain"
	class="navbar navbar-default navbar-fixed-top"
	ng-controller="LoginController as loginCtrl"
>
	<div class="container-fluid">
		<div class="navbar-header">
			<button 
				type="button"
				class="navbar-toggle collapsed"
				data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false"
			>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">
				<strong>SYS-FOTO-TERM</strong>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a 
						class="dropdown-toggle"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<span class="glyphicon glyphicon-user"></span>
						{{loginCtrl.name}}<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-click="loginCtrl.closeSession()">
							<a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Cerrar Sesión
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-controller="MainController as mainCtrl">
	<div id="panelOptions" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title text-center">OPCIONES</h3>
		</div>
		<div class="panel-body">
			<form 
				id="mainForm"
				name="mainForm"
				ng-submit="mainCtrl.processQuery()"
				class=""
				novalidate
			>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Lugar&nbsp;&nbsp;&nbsp;&nbsp;</div>
						<select 
							id="slct_place" 
							class="form-control"
							ng-options="p.place for p in mainCtrl.places"
							ng-model="mainCtrl.placeSelected"
						>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Sistema</div>
						<select 
							id="slct_system" 
							class="form-control"
							ng-options="systems for systems in ['Fotovoltaico','Termico']"  
							ng-model="mainCtrl.systemSelected" 
							ng-change="mainCtrl.updateComboBoxData()"
						>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Dato&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
						<select
							id="slct_data"
							class="form-control"
							ng-model="mainCtrl.dataSelected" 
						>		
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Período</div>
						<select 
							id="slct_period"
							class="form-control"
							ng-options="periods for periods in ['Día','Semana','Mes','Año']" 
							ng-model="mainCtrl.periodSelected" 
							ng-change="mainCtrl.updateComboBoxDate()"
							ng-init="mainCtrl.periodSelected ='Día'"
						>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Fecha&nbsp;&nbsp;</div>
						<input 
							type="date"
							ng-model="mainCtrl.daySelected"  
							class="form-control"

							ng-if="mainCtrl.periodSelected==='Día'"
						>
						<input 
							type="week"
							ng-model="mainCtrl.weekSelected"  
							class="form-control"

							ng-if="mainCtrl.periodSelected==='Semana'"
						>
						<input 
							type="month"
							ng-model="mainCtrl.monthSelected"  
							class="form-control"

							ng-if="mainCtrl.periodSelected==='Mes'"
						>
						<select 
							id="slct_year"
							class="form-control"
							ng-options="year for year in mainCtrl.years" 
							ng-model="mainCtrl.yearSelected" 

							ng-if="mainCtrl.periodSelected==='Año'"
						>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">Modo&nbsp;&nbsp;&nbsp;</div>
						<select 
							id="slct_mode"
							class="form-control"
							ng-options="modes for modes in ['Gráfico','Tabla']" 
							ng-model="mainCtrl.modeSelected"
						>
						</select>
					</div>
				</div>
				<div class="form-group">
					<input 
		                type="submit"
		                value="REALIZAR CONSULTA" 
		                class="btn btn-default btn-success btn-block"
		            /><!--ng-disabled="mainForm.$invalid"--> 
				</div>
			</form>
		</div>
	</div>

	<div id="panelReports" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title text-center">REPORTES</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<button class="btn btn-success btn-block">VER REPORTES</button>
			</div>
		</div>
	</div>
</div>

<div class="container col-xs-12 col-sm-12 col-md-9 col-lg-9">
	<div id="panelGraphics" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title text-center">&nbsp;&nbsp;</h3>
		</div>
		<div class="panel-body">
			<div id="cNoResults">
				<img src="images/sin_resultados.jpg" class="img-responsive center-block" alt="No hay resultados">
			</div>
			<div id="loader" style="display:none;"></div>
			<div id="graphic" style="display:none;">
				<canvas id="chart" width="950" height="425"></canvas>
			</div>
			<div id="table" style="display:none;">
				<table class="table table-bordered table-responsive">
					<tr>
						<td><strong>Fecha</strong></td>
						<td><strong>Valor</strong></td>
					</tr>
					<tr ng-repeat="v in mainCtrl.dataT">
						<td>{{v}}</td>
						<td>{{v}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>