html, body {
  max-width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}

li{
  cursor: pointer;
}

#contenedorPrincipal{
  padding-top: 40px;
  padding-bottom: 40px;
}

#header{
  background-color: Teal;
  color: white;
  height: 20px;
}

#footer{
  background-color: Teal;
  height: 40px;
  color: white;
}

#formLogin{
  width: 100%;
  margin-top: 30%;
}

#formLogin h3{
  color: LightSeaGreen;
  font-weight: bold;
}

#formLogin button{
  background-color: Teal;
  color: white;
}

#formLogin button:hover{
  font-weight: bold;
}

#cSaludo{
  border-bottom: solid Teal 2px;
}

#panelGraficos{
  height: 532px;
  overflow: scroll;
}

#panelOpciones{
  height: 350px;
}

#panelReportes{
  height: 160px;
}

#grafico{
  overflow: scroll;
}

/******************************** ANIMACION DEL LOADER ********************************************/
#loader {
  margin-top: 30px;
  margin-left: 300px;
  width: 350px;
  height: 350px;
  border: 50px solid #f3f3f3;
  border-radius: 50%;
  border-top: 50px solid #3498db;
  width: 350px;
  height: 350px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/******************************** MEDIA QUERYS ********************************************/
@media screen and (max-width: 480px) and (min-width: 320px){
    #formLogin{
    margin-top: 5%;
  }
}

@media screen and (max-width: 640px) and (min-width: 480px){
    #formLogin{
    margin-top: 35%;
  }
}